.blackops_terminus_container {
  /* background-color: red; */
  padding: 3rem 2rem;
  background-image: url('./img/background.png');
}

.blackops_terminus_section {
  text-align: center;
  margin: 10px 0;
}

.blackops_terminus_grid {
	display: grid;
}

.blackops_terminus_grid-template-columns {
	grid-template-columns: 33.3% 33.3% 33.3%;
}

.blackops_terminus_item {
	margin: 1px;
  padding: 1px;
	/* background: rgb(101, 99, 99); */
}

.blackops_terminus_item img {
  max-width: 50%;
  cursor: pointer;
}

.blackops_terminus_container pre {
  background-color: rgb(101, 99, 99);
  text-align: center;
  font-size: 30px;
}

.blackops_terminus_section span {
  display: block;
  background-color: rgb(101, 99, 99);
}